<section id="messages" data-channel="messages" data-issue-id="<%= issue.id %>">
	<h2>Messages:</h2>
	<table>
	  <thead>
	    <th>Message:</th>
	    <th>Sender: </th>
	  </thead>
	  	<%= render issue.messages %>
	</table>
</section>

<div id='new_message'><%= render 'messages/form', issue: issue %></div>