<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<section id="issues" data-channel="issues" >
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Asker</th>
      <th>Technology</th>
      <th>Is solved</th>
      <th>Archived</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
        <%= render 'issue', issue: issue %>
    <% end %>
  </tbody>
</table>

<br>
</section>

<%= render 'form', issue: Issue.new %>
