<h1>Welcome to the Office Friend</h1>
<%= image_tag 'dancing.gif' %><br>
<%= link_to 'Register yourself to explore more', new_user_registration_path %><br>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
